.question-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--secondary-color);
  margin-bottom: 8px;
  min-height: 152px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);

  .question-content {
    color: var(--main-text-color);
  }

  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    .user-info {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-right: 8px;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: #737380;
      }
    }

    .functionalities {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 1rem;

      svg {
        path {
          stroke: var(--button-icon-color);
        }

        circle {
          stroke: var(--button-icon-color);
        }
      }

      .func-button {
        background-color: transparent;
        border: none;
      }

      .checkmark-button:hover svg {
        path {
          stroke: #835afd;
        }

        circle {
          stroke: #835afd;
        }
      }

      .highlight-button:hover svg path {
        stroke: #835afd;
      }
      .delete-button:hover svg path {
        stroke: #d73754;
      }

      .like-button {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 8px;
        background-color: transparent;
        border: 0;
        transition: filter 0.2s;

        span {
          color: var(--main-text-color);
        }

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }

  &.highlighted {
    background-color: var(--highlight-color);
    outline: 1px solid #835afd;

    .highlight-button {
      svg {
        path {
          stroke: #835afd;
        }

        circle {
          stroke: #835afd;
        }
      }
    }
  }

  &.answered {
    background-color: var(--answered-background-color);
    outline: none;

    img {
      filter: grayscale(100%);
    }

    .checkmark-button svg {
      path {
        stroke: #835afd;
      }

      circle {
        stroke: #835afd;
      }
    }
  }
}
