.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #835afe;
  border-radius: 8px;
  border-style: none;
  color: #fff;
  transition: filter 0.2s;
  padding: 0 32px;
  cursor: pointer;
  z-index: 1;
}

.button:not(:disabled):hover {
  filter: brightness(0.9);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.isOutlined {
  margin-left: 8px;
  flex-shrink: 0;
  background-color: transparent;
  height: 40px;
  width: 140px;
  border: 1px solid #835afd;
  border-radius: 8px;
  font-weight: 600;
  color: #835afd;
  font-size: 14px;
}

.isOutlined::hover {
  border-color: #6f4bd8;
  color: #6f4bd8;
}
