.no-questions-container {
  margin: 138px auto 0 auto;
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    font-weight: 600;
    color: var(--main-text-color);
    margin-bottom: 8px;
  }

  span {
    text-align: center;
    font-size: 14px;
    font-weight: 500px;
    color: var(--main-text-color);
  }
}
