.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background-color: rgba(0, 0, 0, 0.5);
  background-color: var(--modal-background);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    height: 362px;
    width: 590px;
    background-color: var(--background-color);
    border-radius: 8px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 48px;
      width: 48px;
      margin-bottom: 24px;
    }

    h2 {
      font-weight: 700;
      font-size: 24px;
      color: var(--main-text-color);
      margin-bottom: 12px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      color: #737380;
      margin-bottom: 40px;
    }

    .footer {
      display: flex;
      gap: 8px;

      button {
        height: 50px;
        padding: 0 32px;
        border: 0;
        border-radius: 8px;
      }

      button:hover {
        filter: brightness(0.8);
      }

      .cancel {
        background-color: #cecece;
        color: #737380;
      }

      .accept {
        background-color: #d73754;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .modal-container {
    .modal-content {
      width: 300px;
    }
  }
}
