.container {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.container aside {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 80px;
}

.container aside img {
  max-width: 320px;
}

.container aside h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  margin-top: 16px;
}

.container aside p {
  font-size: 24px;
  line-height: 32px;
  margin-top: 16px;
  color: #f8f8f8;
}

.container main {
  flex: 6;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside {
  padding-left: 84px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 320px;
}

#home-logo {
  align-self: center;
  margin-bottom: 80px;
}

#google-button img {
  align-self: center;
  margin-right: 8px;
}

#google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea4335;
  height: 50px;
  /* outline: none; */
  border-radius: 8px;
  border: none;
  color: #fff;
  margin-bottom: 32px;
}

.main-content p {
  display: flex;
  align-items: center;
  color: #a8a8b3;
  text-align: center;
  margin-bottom: 32px;
}

.main-content p:before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: #a8a8b3;
  margin-right: 16px;
}

.main-content p:after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: #a8a8b3;
  margin-left: 16px;
}

form input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #a8a8b3;
  outline: none;
  margin-bottom: 16px;
}
