.room-container {
  background-color: var(--background-color);
  min-height: 100vh;

  header {
    padding: 24px;
    border-bottom: 1px solid var(--header-bottom-border);

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
        cursor: pointer;
      }

      .button-container {
        display: flex;

        .toggle {
          background-color: transparent;
          border-style: none;
          margin-left: 2rem;

          svg {
            height: 29.3px;
            width: 55px;
          }

          circle {
            transition: all ease-in 0.2s;
          }
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: var(--main-text-color);
      }

      span {
        margin-left: 16px;
        background-color: #e559f9;
        border-radius: 999px;
        padding: 8px 16px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      margin-bottom: 32px;

      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background-color: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
        resize: vertical;
        min-height: 130px;
        outline: none;
        color: var(--main-text-color);
        background-color: var(--secondary-color);
      }

      textarea:focus {
        outline: 1px solid #835afd;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;

          img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            max-width: 100%;
            margin: 0 10px;
          }

          span {
            color: var(--main-text-color);
            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;

          .link {
            background-color: transparent;
            border: 0;
            color: #835afd;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
}
