.room-code {
  flex-shrink: 0;
  height: 40px;
  min-width: 250px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #855afd;
  cursor: pointer;
  display: flex;

  div {
    background: #855afd;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 8px 0 8px;
    width: 230px;
    font-size: 14px;
    font-weight: 500;
  }
}

.room-code:hover {
  color: #6f4bd8;
  border-color: #6f4bd8;
}
